/*fonts used*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Font family
font-family: "Lora", serif;
font-family: "Inter", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Playfair Display", serif;
*/

/* External fonts */
/* @font-face {
	font-family: "xxxx";
	src: url(fonts/xxx/xxx.woff) format("woff"),
	url(fonts/xxx/xxx.woff2) format("woff2");
} */


/* start of CSS reset */
*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

table {border-collapse: collapse; /* Prevent double borders*/ }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input, textarea, select{-webkit-appearance: none;}
mark {background-color: transparent;}
body{font-size: 17px; line-height: 120%; font-family: "Inter", sans-serif; color:#0F0F0D;position:relative; background-color: #FAFBF6; } 
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}
#wpadminbar {position: fixed !important;}
.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#000; font-weight:bold;}
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 5px;  column-gap: 5px;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 10px; -moz-column-gap: 5px;  column-gap: 5px;}
.col2 li, .col3 li{display: inline-block; width: 100%;}
.main_phone {font-weight: bold;}
.back_top{display:none;background:#000;position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer; border-top: 2px solid #fff;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/* Other presets */
.wrapper{ width:100%; max-width:1375px; margin:0 auto; position:relative;}
h1, h2, h3, h4 {line-height: 100%;}
h2 { font-family: "Lora", serif; }
h3 {font-family: "Lora", serif;}

/* #banner*/
#banner {}
.banner_img {margin: 0 auto; width: 100%; max-width: 1920px; height: 100vh; overflow: hidden; background-color: red;}
.banner_img figure { width: 130%; }
.banner_img img {display: block; width: 100%; position: relative; left: 50%; transform: translateX(-50%); overflow: hidden; object-fit: cover;} }
.banner_con {position: relative;}
.banner_info {position: absolute; bottom: 0; left: 0;  min-height: 400px; max-width: 480px;}
.banner_info h2 {font-size: 60px; font-weight: 500;}
.banner_info h2 span {display: block;}
.banner_info p {margin-top: 20px;}
.banner_info a {display: block; background-color: #4B784F; text-align: center; color: #fff; line-height: 30px; text-transform: uppercase; width: 280px; border-radius: 5px; padding: 10px; margin-top: 20px;}


#middle1 {}
.middle1_con {padding:  40px 0;}
.middle1_con h2 {font-size: 30px; font-weight: 900; margin-bottom: 10px; padding: 15px 20px; border-radius: 10px; text-transform: uppercase; background-color: #EDE9DD;}
.middle1_boxes  {display: flex; justify-content: space-between; }
.middle1_boxes section {width: 100%; max-width: 400px;background-color: #EDE9DD; border-radius: 10px; overflow: hidden; padding: 10px; min-height: 421px;}
.middle1_boxes section figure {width: 100%; height: 200px; overflow: hidden; margin-bottom: 10px; border-radius: 10px 10px 0 0; overflow: hidden; margin-bottom: 15px;}
.middle1_boxes section figure img {width: 100%; height: 100%; object-fit: cover;}	
.middle1_boxes section h3 {font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.middle1_boxes section p {margin-bottom: 15px;}
.middle1_boxes section .tags {display: flex;  margin-bottom: 15px;}
.middle1_boxes section .tags a {display: inline-block; margin-right: 10px; text-decoration: none; background-color: #FAFBF6; color: #000;padding:  5px; border-radius: 5px; text-transform: uppercase; font-size: 12px;}
.middle1_boxes section > .middle1_box_info > a {display: block; background-color: #4B784F; border-radius: 50px; text-align: center; color: #fff; line-height: 30px;}
.middle1_boxes section > .middle1_box_info > a:hover {background-color:#325335;}


#middle2 {}
.middle2_con {padding: 40px 0;}
.middle2_con h2 {font-size: 30px; font-weight: 900; margin-bottom: 10px; padding: 15px 20px; border-radius: 10px; text-transform: uppercase; background-color: #EDE9DD;}
.middle2_boxes  {display: flex; justify-content: space-between;}
.middle2_boxes section {width: 100%; max-width: 400px;background-color: #EDE9DD; border-radius: 10px; overflow: hidden; padding: 10px 10px; }
.middle2_boxes section figure {width: 100%; height: 200px; overflow: hidden; margin-bottom: 10px; border-radius: 10px 10px 0 0; overflow: hidden; margin-bottom: 15px;}
.middle2_boxes section figure img {width: 100%; height: 100%; object-fit: cover;}	
.middle2_boxes section h3 {font-size: 20px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;}
.middle2_boxes section p {margin-bottom: 15px;}
.middle2_boxes section .tags {display: flex;  margin-bottom: 15px;}
.middle2_boxes section .tags a {display: inline-block; margin-right: 10px; text-decoration: none; background-color: #FAFBF6; color: #000;padding:  5px; border-radius: 5px; text-transform: uppercase; font-size: 12px;}
.middle2_boxes section > .middle2_box_info > a {display: block; background-color: #4B784F; border-radius: 50px; text-align: center; color: #fff; line-height: 30px;}
.middle2_boxes section > .middle2_box_info > a:hover {background-color:#325335;}

#middle3 {}
.middle3_con {padding: 40px 0;}
.middle3_con h2 {font-size: 30px; font-weight: 900; margin-bottom: 10px; padding: 15px 20px; border-radius: 10px; text-transform: uppercase; background-color: #EDE9DD;}
.middle3_boxes  {display: flex; justify-content: space-between;}
.middle3_boxes section {width: 100%; max-width: 400px;background-color: #EDE9DD; border-radius: 10px; overflow: hidden; padding: 10px 10px; }
.middle3_boxes section figure {width: 100%; height: 200px; overflow: hidden; margin-bottom: 10px; border-radius: 10px 10px 0 0; overflow: hidden; margin-bottom: 15px;}
.middle3_boxes section figure img {width: 100%; height: 100%; object-fit: cover;}	
.middle3_boxes section h3 {font-size: 20px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;}
.middle3_boxes section p {margin-bottom: 15px;}
.middle3_boxes section .tags {display: flex;  margin-bottom: 15px;}
.middle3_boxes section .tags a {display: inline-block; margin-right: 10px; text-decoration: none; background-color: #FAFBF6; color: #000;padding:  5px; border-radius: 5px; text-transform: uppercase; font-size: 12px;}
.middle3_boxes section > .middle3_box_info > a {display: block; background-color: #4B784F; border-radius: 50px; text-align: center; color: #fff; line-height: 30px;}
.middle3_boxes section > .middle3_box_info > a:hover {background-color:#325335;}